//Primer esquema de colores listo
$white: #FFF;
$isabelline: #EEEDED;
$spanish-gray: #989797;

//Segundo esquema de colores listo
$coral: #FA824C;
$buff: #F1DD7B;
$vanilla: #F5E7A1;

//Tercer esquema de colores listo
$flame: #E4572E;
$light-red-ochre: #E87554;
$pastel-pink: #F2B2A0;

//Cuarto esquema de colores listo
$shiny-shamrock: #4CA866;
$turquoise-green: #9DCFAB;
$pastel-gray: #BDDFC7;

//Quinto esquema de colores listo
$blue-de-france: #3C91E6;
$blue-jeans: #5FA5EA;
$jordy-blue: #82B9EF;

//Sexto esquema de colores listo
$black: #000000;
$outer-space: #454545;
$quick-silver: #A2A2A2;

//Tipografía listas
$PT-Mono: 'PT-Mono', monospace;
$roboto: 'Roboto', sans-serif;

//Peso de fuentes
$light2: 300;
$regular: 400;


//Tamaño fuentes
$xxx-large: 70px;
$xx-large: 40px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
