nav {
  position: fixed;
  width: 100vw;
  height: 90px;

  &__logo {
   width: 40px;
   height: auto;
  }

}

nav a {
  display: inline-block;
  vertical-align: middle;
  list-style-type: none;
  color: $white;
  text-decoration: none;
}

.nav-link{
  font-family: $PT-Mono;

}
